.header-class {
  /* outline: 1px solid red; */
	padding: 1rem;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 9999;
}

.header-buger-btn {

}
